/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background-color: #000; /* Black background */
    padding: 10px 0;
    height: 100px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

header .logo a {
    color: #fff; /* White text */
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px
    display: inline;
}

header nav ul li a {
    color: #fff; /* White text */
    text-decoration: none;
    font-size: 1em;
}

header nav ul li a:hover {
    text-decoration: underline;
}
