/* General Styles */
body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background-color: #000; /* Black background */
    position: absolute;
    width: 100%;
}

/* Logo Styles */
.logo {
    position: absolute;
    top:55%;
    transform: translateY(-50%);
    max-width: 70px;
}

.logo img {
    height: auto;
    width: 100%;
}

/* Primary Nav Style */
.nav {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    background-color: #000;
    text-align: center;
}

.menu ul {
    display: inline-block;
    padding: 0 0;
    text-align: center;
}

.menu ul li {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
}

.menu ul li a{
    color: gainsboro;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu ul li a:hover {
    color: white;
}

/* Hamburger button */
a,button{
    cursor: pointer;
}

.ham-nav{
    position: absolute;
    top: 50px;
    right: 50px;
    width: 250px;
}

.ham-nav{
    position: fixed;
    right: -500px;
    width: 350px;
    height: 100%;
    background-color: #000;
    transition: .5s;
}

.ham-nav ul li{
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 1.5em;
    padding: 10px 20px;
    border-bottom: 1pt solid #252525;
}

.hamburger, .bar{
    position: fixed;
}

.hamburger{
    display: inline-block;
    top: 30px;
    left: 95%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
}

.bar{
    top: 3px;
    background: #fff;
    width: 100%;
    height: 2px;
    transition: all .3s ease-in;
}

#bar2{
    top: 11px;
}

#bar3{
    top: 19px;
}

.ham-nav.active{
    right: 0;
}

.hamburger.open #bar1{
    background-color: #fff;
    transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2{
    background-color: transparent;
}

.hamburger.open #bar3{
    background-color: #fff;
    transform: rotate(-45deg) translate(6px, -5px);
}
